NODE_ENV=

PORT=
JWT_SECRET_KEY = 123456
JWT_EXPIRES = 7d

Database name for config : "database": "TheHealthier",

CLOUDINARY_NAME = otorosushi
CLOUDINARY_API_KEY = 618889187686643
CLOUDINARY_API_SECRET = 2sR7N0QT5eeuEVhlJmY2t4od0Y8

CLIENTID = 346530911255-de4hvnvqe35a1510mrsqlas3qbp36cq0.apps.googleusercontent.com